.weather-container {
    display: flex;
    flex-direction: column;
    min-width: 90%;
}

.weather-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 45px;
    padding: 15px;
}

.el-block {
    min-width: 150px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 7px 16px 1px rgba(0, 0, 0, 0.08);
    margin: 10px 25px;
    border-radius: 25px;
    padding: 0 10px 10px 10px;
    border: 1px solid rgb(226, 226, 226);
}

.el-block:hover {
    transform: scale(1.15);
    background: rgb(196, 233, 238);
    transition-duration: 300ms;
    cursor: pointer;
    box-shadow: 0px 7px 16px 4px rgba(0, 0, 0, 0.1);

}

.el-block:active {
    transform: scale(3);
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1);

}

.el-block:not(:hover) {
    transition-duration: 150ms;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.temperature {
    display: flex;
}

.location-name {
    padding: 0 33px;
    background: lightgray;
    color: white;
    border-radius: 35px;
}

.temp {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(166, 166, 166);
    width: 150px;
    margin: 10px;
    border-radius: 26px;
    color: white;
    padding: 13px 0px;
    /* box-shadow: inset 0px 0px 5px 5px rgba(255, 255, 255, 0.8); */
}

.temp:hover {
    transform: scale(1.15);
    transition-duration: 300ms;
    background: rgb(70, 106, 125);
    cursor: pointer;
}

.temp:not(:hover) {
    transition-duration: 150ms;
}

.temp:active {
    transform: scale(3);
}

.temp p {
    margin: 5px auto;
}

.weather-container img {
    height: 40px;
    width: 40px;
    margin-bottom: 10px;
}

.weather-container h4 {
    margin: 10px 0;
}