.weather-container {
    display: flex;
    flex-direction: column;
    min-width: 90%;
}

.weather-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 7px 16px 1px rgba(0, 0, 0, 0.1);
    border-radius: 45px;
    padding: 15px;
}

.el-block {
    min-width: 150px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    box-shadow: 0px 7px 16px 1px rgba(0, 0, 0, 0.12);
    margin: 10px 25px;
    border-radius: 25px;
    padding: 0 10px 10px 10px;
}

.el-block:hover {
    transform: scale(1.15);
    background: rgb(241, 241, 241);
    transition-duration: 300ms;
    cursor: pointer;
}

.el-block:active {
    transform: scale(3);
}

.el-block:not(:hover) {
    transition-duration: 150ms;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.temperature {
    display: flex;
}

.location-name {
    padding: 0 33px;
    background: lightgray;
    color: white;
    border-radius: 35px;
}

.temp {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: lightgrey;
    width: 150px;
    margin: 10px;
    border-radius: 26px;
    color: white;
    padding: 13px 0px;
    box-shadow: inset 0px 0px 17px 11px rgba(255, 255, 255, 0.57);
}

.temp:hover {
    transform: scale(1.15);
    transition-duration: 300ms;
    background: rgb(90, 90, 90);
    cursor: pointer;
}

.temp:not(:hover) {
    transition-duration: 150ms;
}

.temp:active {
    transform: scale(3);
}

.temp p {
    margin: 5px auto;
}